NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=restosur
JWT_SECRET=super_secret_jwt
JWT_EXPIRES_IN=8h
AFIP_WS_TIMEOUT_MS=30000
REACT_APP_API_URL = http://localhost:3000
